 body{
    background-color: #1ecf39;
  }
  .header-box{
      border-color: #222;
      border-style: solid;
      margin-right: 50px;
      height: 50px;
      background-color:#222;
      width: 98.5%;
      padding-left: -500px;
  }

    .flip {
      position: absolute;
      width: 160px;
      height: 48px;
      perspective: 500px;
      margin: 0px 0 0 0px;
    }
    
    .flip a {
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transform: translateZ(0);
      cursor: pointer;
    }
    
    .flip a .front,
    .flip a .back {
      margin: 0;
      width: 160px;
      height: 48px;
      line-height: 48px;
      position: absolute;
      text-align: center;
      letter-spacing: 0.4em;
      transition: transform 0.3s;
    }
    
    .flip a .front {
      background-color: #222;
      color: #fff;
      transform: rotateY(0) translateZ(0);
    }
    
    .flip a .back {
      background-color: rgba(255,255,255,0);
      color: rgba(34,34,34,0);
      transform: rotateX(0) translateZ(0);
      overflow: hidden;
    }
    
    .flip a .back:after {
      content: '';
      position: absolute;
      top: -32%;
      left: -10%;
      width: 120%;
      height: 50%;
      background: #222;
      transform: rotate(8deg);
      transition: all 0.5s ease;
      transition-delay: 0.15s;
    }
    
    .flip a:hover {
      transform: translateZ(-25px) rotateX(0);
    }
    
    .flip a:hover .front {
      background: #000;
      transition: all 0.8s ease;
    }
    
    .flip a:hover .back {
      color: #222;
      transition: color 0.4s linear;
      background: #fff;
    }
    
    .flip a:hover .back:after {
      transform: rotate(6deg) translate(100px, -18px);
    }
    
    

    .img1
    {
      margin-top: 100px;
      margin-left: 30px;
    }

    .p1
    {
      margin-left: 850px;
      margin-top: -350px;
      font-size: 20px;
      color: white;
    }

    .p2
    {
      margin-top: 300px;
      margin-left: 30px;
      font-size: 20px;
      margin-right: 800px;
      color: white;
    }

    .img2
    {
      margin-left: 750px;
      margin-top: -300px;
    }
