 body{
    background-color: #f2f6f9;
    margin: 0;
    padding: 0;
  }
  .header-box{
	  border-width: 0px;
      margin-right: 50px;
      background-color: #08977b;
	  padding: 20px;
      width: 100%;
	  height: 50px;
      padding-left: -500px;
	  font-size: 20px;
  }

    .flip {
      position: absolute;
      width: 160px;
//      height: 48px;
      perspective: 500px;
      margin: 0px 0 0 0px;
    }
    
    .flip a {
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transform: translateZ(0);
      cursor: pointer;
    }
    
    .flip a .front,
    .flip a .back {
      margin: 0;
      width: 160px;
      height: 48px;
      line-height: 48px;
      position: absolute;
      text-align: center;
      letter-spacing: 0.4em;
      transition: transform 0.3s;
    }
    
    .flip a .front {
      background-color: #08977b;
      color: #fff;
      transform: rotateY(0) translateZ(0);
    }
    
    .flip a .back {
      background-color: rgba(255,255,255,0);
      color: rgba(34,34,34,0);
      transform: rotateX(0) translateZ(0);
      overflow: hidden;
    }
    
    .flip a .back:after {
      content: '';
      position: absolute;
      top: -32%;
      left: -10%;
      width: 120%;
      height: 50%;
      background: #08977b;
      transform: rotate(8deg);
      transition: all 0.5s ease;
      transition-delay: 0.15s;
    }
    
    .flip a:hover {
      transform: translateZ(-25px) rotateX(0);
    }
    
    .flip a:hover .front {
      background: #000;
      transition: all 0.8s ease;
    }
    
    .flip a:hover .back {
      color: #08977b;
      transition: color 0.4s linear;
      background: #fff;
    }
    
    .flip a:hover .back:after {
      transform: rotate(6deg) translate(100px, -18px);
    }
    
    

    .img1
    {
      margin-top: 100px;
      margin-left: 30px;
    }

    .p1, .p2
	{
		color: black;
		font-size: 20px;
		font-family: "sans-serif";
	}

	.p1
    {
      margin-left: 850px;
      margin-top: -350px;
    }

    .p2
    {
      margin-top: 300px;
      margin-left: 30px;
      margin-right: 800px;
    }

    .img2
    {
      margin-left: 750px;
      margin-top: -300px;
    }
    .foot1
    {
      background-color: #08977b;
      position: relative;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .foot1 h4{
      color: white;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 43%;
      margin: auto;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .social-icon
        {
            position: relative;
            padding: 10px;
            margin: 0;
        }
    .social-icon li
        {
            display: inline-block;
            list-style: none;
        }
    .social-icon li a
        {
            border-radius: 50%;
            color: #606060;
            text-decoration: none;
            transition: all 0.4s ease-in-out;
            text-align: center;
            margin-right: 1px;
        }
    .social-icon li a:hover
        {
            color: #D43F52;
        }
